body {
		margin: 0;
		position: relative;
 		min-height: 100%;
		padding-bottom: 6rem;
}

h2  {
		margin: 0;
		padding-left: 75px;
		color: #515151;
		font-weight: 400;
}

html {
		margin-top: 110px;
		font-family: 'Product Sans';
		height: 100%;
		box-sizing: border-box;
}
img.Image {
		max-width:600px;
}
li {
    float: right;
		font-weight: 700;
		font-size: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 35px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #515151;
    color: white;
		text-decoration: overline underline;
		text-decoration-color: white;
}

p {
    padding-left: 75px;
		color: #515151;
		font-size: 25px;
		font-weight: 100;
		margin: 0;
	padding-right: 30%;
}

ul {
  	list-style-type: none;
   	margin: 0;
   	padding: 0;
   	overflow: hidden;
		background-color: #515151;
		position: fixed;
		top: 0;
		width: 100%;
		font-family: 'Product Sans';
}

@font-face {
  	font-family: 'Product Sans';
  	font-style: normal; src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.active {
    background-color: #515151;
    color: white;
		text-decoration: overline underline;
		text-decoration-color: white;
}

.dropbtn {
    background-color: #515151;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #515151;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
	padding-left: 300px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #515151
}

.footer {
		position: absolute;
		right: 0;
 		bottom: 0;
 		left: 0;
 		padding-top: 20px;
		padding-bottom: 20px;
 		background-color: #515151;
		color: white;
		padding-left: 75px;
		font-weight: 100;
		font-size: 15px
}

.show {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

#banner {
	 	position: relative;
 		top: 0px;
 		left: 0px;
 		right: 0px;
 		width: 100%;
  	height: auto;
 		z-index: -1;
}

#Logo {
		font-weight: 900;
		font-size: 60px;
		padding-left: 15.5px;
		padding-right: 20px;
		padding-top: 15.5px;
		margin: 0;
		color: white;
}

#LogoImage {
		padding-left: 15.5px;
		padding-top: 15.5px;
}

#Titel {
    padding-left: 75px;
		padding-right: 200px;
		padding-bottom: 20px;
		padding-top: 75px;
		font-size: 45px;
		font-weight: 600;
		margin: 0;
		color: #515151;
}

table {
    border-collapse: collapse;
    padding-left: 75px;
	color: #515151;
}

td,th {
    text-align: left;
    padding: 8px;
    padding-left: 75px;
	color: #515151;
}
